<mgl-timeline *ngIf="isDataLoaded">
    <mgl-timeline-entry *ngFor="let element of apiData">
        <mgl-timeline-entry-header>{{ element.date }}</mgl-timeline-entry-header>
        <mgl-timeline-entry-content> 

            <h2 *ngIf="element.reports">Situations</h2>

            <ul *ngFor="let report of element.reports">
                <li>{{ report }} </li>
            </ul>

            <h2 *ngIf="element.preparedness_and_responses"> Preparedness and responses </h2>

            <div class="preparednessAndResponses">
                <ul *ngFor="let response of element.preparedness_and_responses">
                    {{ response?.authority }}:
                    <ul *ngFor="let action of response.actions">
                        <li>
                            {{ action }}
                        </li> 
                    </ul>
                </ul>
            </div>
        </mgl-timeline-entry-content>
    </mgl-timeline-entry>
</mgl-timeline>